{% extends "base.html" %}{% block title %} HOME {% endblock %} {% block
content%}
<main class="bg">
  <!-- navbar sticky -->
  <nav class="navbar navbar-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <!-- Button trigger modal -->
      <button
        class="bg-transparent border-0 position-relative text-decoration-none nav-divnk float-end me-2"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <img
          id="votefucos"
          src="{{url_for('static', filename='image/home.png')}}"
          class="border-0 bg-transparent text-decoration-none"
          alt=""
          style="height: 30px; width: 30px"
        />
        <span
          class="position-absolute shadow top-100 start-50 translate-middle translate-middle badge rounded-pill text-light text-center mt-1"
        >
          Home
        </span>
      </button>
    </div>
  </nav>
  <!-- Main home content  -->
  <div class="card col-12 col-sm-auto mx-auto mt-5 shadow" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container">
          <button
            type="button"
            class="btn-close mx-auto mt-2 float-end"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h1>Sign and Sign-up Using GMAIL account !</h1>
          <div id="my-signin2"></div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
